.img-comtainer {
  height: 10rem;
  overflow: hidden;
}
img {
  max-width: 100%;
  object-fit: cover;
  background-color: lightblue;
}
.fas.fa-star,
.far {
  color: gold;
  padding: 3% 0%;
}
#cart_count {
  text-align: center;
  padding: 0 0.9rem 0.1rem 0.9rem;
  border-radius: 100%;
}
.shopping-cart {
  padding: 3% 0;
}
.contain {
  display: flex;
  align-items: center;
}
.cart-items + .cart-items {
  padding: 2% 0;
}
.price-details h6 {
  padding: 3% 2%;
}
